<!--<title>BANCO</title>

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
-->
<form action="cadastrar" method="POST">
    <h1>CADASTRO:</h1>
    <span>CPF</span>
    <input type='text' name="CPF" placeholder="APENAS NUMEROS"><br>
    <span>nome</span>
    <input type="text" name="Nome" placeholder="Digite seu nome"><br>
    <span>Senha</span>
    <input type="text" name="Senha" placeholder="APENAS NUMEROS"><br>
    <span>RG</span>
    <input type="text" name="RG" placeholder="Digite seu RG"><br>
    <button type="submit">Cadastrar</button>

</form>

<form action="consultar" method="POST">
    <h1>Consultas:</h1>
    <span>Digite seu CPF e seu Nome
        <br>
    </span>
    <input type='text' name="CPF" placeholder="digite seu CPF"><br>
    <input type='text' name="Nome" placeholder="digite seu nome"><br>
    <button type="submit">consultar</button>
</form>
<form action="recebimento" method="POST">
    <h1>Receber:</h1>
    <span>Digite os valores<br></span>
    <input type='text' name="Valor" placeholder="Digite o valor a ser receber"><br>
    <input type='text' name="CPF" placeholder="CPF da pessoa que vai receber"><br>
    <input type='date' name="data" placeholder="Data do dataEmprestimo"><br>
    <button type="submit">Receber</button>
</form>
<form action="excluir" method="post">
    <h1>Excluir Conta:</h1>
    <span>Preencha os quadrados<br></span>
    <input type='text' name="Nome" placeholder="Digite seu nome"><br>
    <input type='text' name="CPF" placeholder="Digite seu CPF"><br>
    <input type='text' name="Senha" placeholder="Digite sua senha"><br>
    <button type="submit">Excluir</button>
</form>


<form action="pagamento" method="POST">
    <h1>Pagamento:</h1>
    <span>Digite os valores<br></span>
    <input type='text' name="Valor" placeholder="Digite o valor a ser pago"><br>
    <input type='text' name="CPF" placeholder="CPF da pessoa que vai Pagar"><br>
    <input type='date' name="data" placeholder="Data do Pagamento"><br>
    <button type="submit">Pagar</button>
</form>

<form action="emprestimo" method="POST">
    <h1>FazerEmprestimo:</h1>
    <span>Digite seu CPF e seu Nome
        <br>
    </span>
    <input type='text' name="CPF" placeholder="digite seu CPF"><br>
    <input type='text' name="Nome" placeholder="digite seu nome"><br>
    <button type="submit">Enter</button>
</form>

<form action="consultarDividas" method="post">
    <H1>Consultar Dividas</H1>
    <button type="submit">Consultar Divida</button>
</form>